@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900,100|Droid+Sans);
/* The styles for the elements */
*{font-family: "Roboto", "Open Sans";}

$primary500: rgba(255,152,0,1);
$primary600: rgba(251,140,0,1);
$primary700: rgba(245,124,0,1);


body { 
    font-family: "Roboto", "Open Sans";
    font-size: 85%;
    margin:0;
    background-color: #f5f5f5;
    padding:0;
}
h1 {     
    font-size: 1.5em;
    color: black;  
}
br {
    clear: both;
}

#quantity {
    width: 2em;
}
.pad_top {
    padding-top: 1em;
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    
    .block {    
        height: 50px;
        display: inline-block;
        float: left;
        padding: 0 12px;
        
        h1 {
            line-height: 24px;
            padding: 0;
            margin: 0;
        }
        
        &:nth-of-type(2){
            float: right;
        }
    }
}

/* The styles for the tables */

$formPadding: 8px;
$cardMaxWidth: 900px;

.card {
    /*border: 1px solid rgba(black, .1);*/
    box-shadow: 0 2px 3px rgba(black, .2);
    padding:16px 0;
    display: block;
    background-color: white;
    border-radius: 3px; 
}
table {
    border: 0px solid rgba(black,.25);    
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
    th, td {
        border-bottom: 1px solid #888;
        text-align: left;
        padding: 8px 16px;
        & i.wordIcon {
            display:none !important;
            @media (max-width: (600px)) {
                display:inline-block !important;
                font-size: 16px !important;
            } 
        }
        & .iconWord {
            @media (max-width: (600px)) {
                display:none;
            }
        }
    }
    th {
        border-bottom-width: 0;
        font-size: 12px;
        text-transform: uppercase;
        padding: 16px 0;
        
        i{
            font-size: 16px !important;
        }
        &[data-name="album"] {
            padding-left: 16px;
        }
    }
    td {
        
    }
    .code {
        color: #616161;  
        font-weight: 400; 
        font-size: 13px;
    }
    .description {
        color: #212121;  
        font-weight: 400; 
        font-size: 15px;
        line-height:20px;        
        padding: 16px 0;
        
        @media (max-width: ($cardMaxWidth)) {
            font-size: 13px;
        }
        .artist{
            font-size: 16px;
            @media (max-width: ($cardMaxWidth)) {
                font-size: 14px;
            }
        }
        
        .album {
            font-size: 14px;
            @media (max-width: ($cardMaxWidth)) {
                font-size: 12px;
            }
        }
    }
    .price {
        color: #616161;       
        font-weight: 400;
        font-size: 16px;
        padding: 8px 16px;
        padding-right: 0;
        
        @media (max-width: ($cardMaxWidth)) {
            font-size: 13px;
        }
    }
    
    .coverArt {
        $coverArtSize:48px;
        width: $coverArtSize;
        height: $coverArtSize;
        padding: 0;
        margin: 0;
        opacity: .25;
    }
    
    .colRes{
       width:20px;
       @media (max-width: ($cardMaxWidth)) {
            width:20px;
        }
    }
}

tr td a {
    opacity: 0;
    transition: 0s opacity ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 16px;
    color: rgba(black, .87);
    
        
    @media (max-width: ($cardMaxWidth)) {
        opacity:100;
        font-size: 13px;
        padding: 4px;
    }
    @media (max-width: (600px)) {
        opacity:100;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 2px;
        background-color: rgba(224,224,224,0);
    }
    
    
}

tr:hover td {
    background-color: #eeeeee;
    a {
        opacity: 100; 
        transition: 0s opacity ease;
    }
}
.noColor {
    tr td a {
        opacity: 110;
        transition: 0s opacity ease;
    }
    td {
        background-color: transparent;
    } 
    tr:hover td {
        background-color: transparent;
    }
    th, td {
        padding: $formPadding;
        &:first-of-type{padding-left: 0;}
        &:last-of-type{padding-right: 0;}
    }
}
tr td {
    border-bottom: none;
}
.right {
    text-align: right;
}

.center {
    text-align: center;
}
.noBorder {
        border-width: 0;
    th, td {
        border-width: 0;
    }
    td:first-of-type{
        width:100px;
    }
}

.message{
    margin: 10px 0px;
    padding:10px;
    font-size:14px;
    
    &.info {
        color: rgba(0,96,100,1);
        background-color: rgba(0,188,212,1);
    }
    &.error{
        box-shadow: inset 0 5px 5px -5px rgba(black, .2);
        background-color: rgba(224,224,224,1);
        color: rgba(244,67,54,1);
    }
    i {
        margin:10px 22px;
        vertical-align:middle;
    }
}

.noInput{
    padding: 6px $formPadding;
    font-size: 14px;
}
input[type="text"] {
    padding: 6px $formPadding;
    border-width: 0 0 1px 0;
    border-color: rgba(black, .2);
    font-size: 14px;

    &:focus{
        border-color: rgba(#ef6c00, .7);
    }

    @media (max-width: ($cardMaxWidth)) {
        padding: 8px ($formPadding/2);
    }
}

input[name="productCode"] {
    width: calc(100%);
    max-width: 100px;
}

input[name*="productA"] {
    width: calc(100% - (#{$formPadding}*8));
}

input[name="productPrice"] {
    width: calc(100%);      
    max-width: 100px;
}

input[type="submit"], a.button {
    display: inline;
    margin: 0;
    padding: 8px 16px;
    min-width: 88px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
    background-color: $primary500;
    border-radius: 2px;
    border:0;
    box-shadow:0 1px 2px rgba(black, .3);
    
    &.mL10 {margin-left: 26px;}
    
    &:hover{
        background-color: $primary600;
        box-shadow:0 1px 2px rgba(black, .5);
    }
    
    &:active {
        background-color: $primary700;
        box-shadow:0 5px 10px rgba(black, .25);
    }
    &.neutral {
        background-color: rgba(224,224,224,1);
        color: rgba(#000, .87);
        box-shadow:0 1px 2px rgba(black, .3);
        margin-left: 8px;
                
        &:hover{
            box-shadow:0 1px 2px rgba(black, .5);
        }
        &:active {
            box-shadow:0 5px 10px rgba(black, .25);
            padding: 8px 16px;
        }
    }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
    

.fLeft{float:  left;}


a, a:visited, a:active {
    color: rgba(black, .8);
    text-decoration: none;
    border-bottom: 0px solid transparent;
    padding: 2px;
    transition: .2s all ease;
}
a:hover {
    color:rgba(black, .6);
    border-bottom: 0px solid rgba(black, .6);
    transition: .2s all ease;
}


/* container */
.container {
    width: 100%;
    height: 100%;
    max-width: $cardMaxWidth;
    margin: 0 auto;
    margin-top: 24px;
    
    @media (max-width: ($cardMaxWidth)) {
           padding: 0 4px;
           width: calc(100% - 8px);
        }
    
}
.mobHide{
    @media (max-width: (600px)) {
            display:none;
    }
}