/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;    
}
br {
    clear: both;
}

#quantity {
    width: 2em;
}
.pad_top {
    padding-top: 1em;
}
/* The styles for the tables */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: right;
}
.noBorder th, .noBorder td, .noBorder{
    border-width: 0;
}

table input[type="text"] {
    padding: 4px;
}

table input[name="productDesc"] {
    width: 200%;
}

table input[type="submit"] {
    float:left;
    margin-right: 4px;
    padding: 4px;
    min-width: 80px;
}