/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;    
}
br {
    clear: both;
}

#quantity {
    width: 2em;
}
.pad_top {
    padding-top: 1em;
}
/* The styles for the tables */
table {
    border: 0px solid rgba(0,0,0,.25);
    border-collapse: collapse;
    width: 50em;
}
th, td {
    border-bottom: 1px solid #888;
    text-align: left;
    padding: .75em;
}
th {
    border-bottom-width: 2px;
}

tr:nth-of-type(2n) td {
    background-color: #efefef;
}
tr:last-of-type td {
    border-bottom: none;
}
.right {
    text-align: right;
}
.noBorder th, .noBorder td, .noBorder{
    border-width: 0;
}

form input[type="text"] {
    padding: 4px;
}

form input[name="productDesc"] {
    width: 100%;
}

form input[type="submit"] {
    float:left;
    margin-right: 4px;
    padding: 4px;
    min-width: 80px;
}